@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.map {
  &__content {
    height: calc(100% - 50px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__cell {
    width: 16px;
    height: 16px;
    display: inline-block;

    &--border {
      border-left: 1px solid black;
      border-bottom: 1px solid black;
    }
  }

  &__bar {
    border-left: 1px solid $graySecondary;
    border-right: 1px solid $graySecondary;
    padding: 0 10px;
    background: $black;
    height: 25px;
    display: flex;
    align-items: center;
  }

  &__text {
    color: $graySecondary;
  }

  &__currentCellInfo {
    color: $gray;
    display: flex;

    span:first-child {
      color: #00f5d4;
    }

    span:last-child {
      color: #9b5de5;
    }
  }
}

.mapObject__active {
  border: 2px solid red;
}

