.tileSets {
  &__container {
    height: 100%;
    overflow: auto;

    div {
      position: relative;
    }
  }

  &__wrapper {
    height: 100%;
    width: 100%;
    background: green;
  }

  &__currentTile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid red;
  }

  &__selectedTile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid red;
  }
}