@use "sass:color";

.row {
  display: block;

  &--4 {
    height: 4px;
  }

  &--8 {
    height: 8px;
  }

  &--16 {
    height: 16px;
  }

  &--20 {
    height: 20px;
  }

  &--24 {
    height: 24px;
  }
}

.cell {
  display: inline-block;

  &--4 {
    height: 4px;
    width: 4px;
  }

  &--8 {
    height: 8px;
    width: 8px;
  }

  &--16 {
    height: 16px;
    width: 16px;
  }

  &--20 {
    height: 20px;
    width: 20px;
  }

  &--24 {
    height: 24px;
    width: 24px;
  }
}

.divider {
  display: block;
  height: 1px;
  width: 100%;
  background: $graySecondary;

  &--md {
    margin: 16px 0;
  }
}

.engineObject {
  &__wrapper {
    width: 100%;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $graySecondary;
    position: relative;

    &:hover {
      cursor: pointer;

      p {
        color: $pink !important;
      }

      i {
        color: white;
      }
    }

    p {
      padding-left: 10px;
      font-family: "Roboto", sans-serif;
    }

    i {
      position: absolute;
      right: 16px;
      color: $graySecondary;
      transition: 0.2s;
    }
  }

  &__img {
    width: 16px;
    height: 16px;
  }
}

.stageObject {
  &__listItem {
    position: relative;
    border-bottom: 1px solid #2c2d2e;
    padding: 4px 0;

    &:hover {
      p {
        color: $white !important;
      }

      &::before {
        background: $pink;
      }
    }

    &::before {
      content: '';
      display: block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      position: absolute;
      background: $gray;
      top: 50%;
      left: 0;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
    }
  }

  &__iconActive {
    color: $gray !important;
    transform: rotate(180deg);
  }
}