.flex {
  display: flex;

  &__justify {
    &--center {
      justify-content: center;
    }
  }

  &__align {
    &--center {
      align-items: center;
    }
  }

  &__grow {
    &--1 {
      flex-grow: 1;
    }
  }

  &__direction {
    &--column {
      flex-direction: column;
    }
  }

  &__grow {
    &--1 {
      flex-grow: 1;
    }
  }
}