.inspect {
  padding-top: 42px;

  &__graphic {

  }

  &__blueprint {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 1px solid #FFFFFF7F;
    background-color: #269;
    background-image: linear-gradient(rgba(255, 255, 255, .5) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255, 255, 255, .5) 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, .28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, .28) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

    div {
      position: absolute;
    }
  }

  &__panel {
    display: flex;
    margin-top: 40px;
    border-radius: 2px;
    overflow: hidden;
  }

  &__panelButtons {
    width: 50px;
  }

  &__panelButton {
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    font-size: 22px;
    transition: 0.1s;

    &--active {
      background-color: $blue;
      color: $white;
    }

    &--disabled {
      background-color: $graySecondary;
      color: $gray;

      &:hover {
        color: $white;
        cursor: pointer;
      }

    }
  }

  &__panelContent {
    flex-grow: 1;
    border: 1px solid $graySecondary;
    background-color: #242528;
    padding: 0 12px 12px;
  }

  &__sectionTitle {
    color: $pink;
    font-size: 18px;
    display: flex;
    align-items: center;
    // same as .inspect__panelButton class
    height: 50px;
  }
}

.inspectTable {
  font-family: 'Roboto', sans-serif;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

  td {
    font-size: 14px;
    padding: 8px 0;
  }

  &__tdName {
    color: $gray;
  }

  &__tdValue {
    color: $white;
    word-wrap: break-word;
    padding-right: 10px !important;
  }
}

.inspectCollision {
  padding: 10px;
  border-radius: 3px;

  &--active {
    border: 1px solid #8237d5;
  }

  &__numberBox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8237d5;
    width: 18px;
    height: 18px;
    font-size: 14px;
    color: $white;
    font-weight: bold;
    border-radius: 3px;
  }

  &__panelButton {
    display: flex;
    align-items: center;
  }

  &__coordinates {
    padding-left: 6px;
    color: $gray;
  }

  &__inputs {
    border-collapse: collapse;

    th, td {
      padding-bottom: 8px;
      padding-top: 8px;
    }
  }

  &__input {
    color: $gray;
    font-size: 18px;
    width: 50%;

    &--border {
      border-bottom: 1px solid $graySecondary;
    }

    input {
      margin-left: 10px;
      width: 176px;
      background: transparent;
      border: 1px solid $graySecondary;
      outline: none;
      color: $gray;
      font-size: 18px;
      padding: 2px 4px;

      &:hover {
        color: white;
        border: 1px solid $gray;
      }

      &:focus {
        color: white;
        border: 1px solid $blue;
      }
    }
  }
}