@import "variables";
@import "reset";
@import "common";
@import "text";
@import "spacing";
@import "borders";
@import "other";
@import "button";
@import "inputs";
@import "flex";
@import "inspect";
@import 'components/checkbox';
@import "components/table";

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;

}

.container {
  width: 100%;
  height: 100%;
  display: flex;

  &__map {
    position: relative;
    background: #252526;
    flex-grow: 1;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__hoverObject {
    position: absolute;
    border: 1px solid $pink;
    opacity: 0.7;
  }
}

#map {
  border-top: 1px solid black;
  border-right: 1px solid black;
  position: relative;
  overflow: hidden;

  .cell {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
  }
}

.column {
  width: 400px;
  height: 100%;
  background: #202124;
  padding: 16px;
  display: flex;
  flex-direction: column;
}


.editor {
  &__selectSprite {
    label {
      display: block;
    }

    margin-bottom: 20px;
  }

  &__sprite {
    overflow: auto;
    height: 700px;
    background-size: contain;
    background-repeat: no-repeat;

    .cell {
      border-right: 1px solid red;
      border-bottom: 1px solid red;
    }

    .cell:hover {
      background: rgba(255, 255, 255, 0.3);
    }
  }

  &__panelCellImage {
    width: 300px;
    height: 300px;
    margin: 0 auto;

    div {
      height: 100%;
      background-repeat: no-repeat;
    }
  }

  &__panel {
    margin-top: 20px;
  }

  &__panelInfo {
    display: flex;
    flex-direction: column;
  }
;

  &__currentSprite {
    background-repeat: no-repeat;
    height: 100%;
  }
}


.map {
  //&__object {
  //  position: 'absolute'
  //}
}

.debugger {
  display: flex;
  flex-direction: column;

  &__content {
    height: 100%;
    flex: 1;
  }

  &__button {

  }
}