@import "reset";
@import "common";
@import "variables";
@import "text";
@import "spacing";
@import "borders";
@import "other";

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;

}

.container {
  width: 100%;
  height: 100%;
  display: flex;

  &__map {
    background: #b9b9b9;
    width: calc(100% - 800px);
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#map {
  overflow: auto;
  border-top: 1px solid black;
  position: relative;

  .row {
    flex-wrap: nowrap;

    .cell {
      border-left: 1px solid black;
      border-bottom: 1px solid black;
    }
  }
}

.column {
  width: 400px;
  height: 100%;
  background: #202124;
  padding: 20px;
}


.editor {
  &__selectSprite {
    label {
      display: block;
    }

    margin-bottom: 20px;
  }

  &__sprite {
    overflow: auto;
    margin: 0 auto;
    height: 700px;
    background-size: contain;
    background-repeat: no-repeat;

    .cell {
      border-right: 1px solid red;
      border-bottom: 1px solid red;
    }

    .cell:hover {
      background: rgba(255, 255, 255, 0.3);
    }
  }

  &__panelCellImage {
    width: 300px;
    height: 300px;
    margin: 0 auto;

    div {
      height: 100%;
      background-repeat: no-repeat;
    }
  }

  &__panel {
    margin-top: 20px;
  }

  &__panelInfo {
    display: flex;
    flex-direction: column;
  }
;

  &__currentSprite {
    background-repeat: no-repeat;
    height: 100%;
  }
}


.map {
  //&__object {
  //  position: 'absolute'
  //}
}