.styled-scrollbars {
  /* Foreground, Background */
  scrollbar-color: $graySecondary;
}

.styled-scrollbars::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}

.styled-scrollbars::-webkit-scrollbar-thumb { /* Foreground */
  background: $graySecondary;
  border-radius: 3px;
}

.styled-scrollbars::-webkit-scrollbar-track { /* Background */
  background: transparent;
}

.select {
  position: relative;
  margin-bottom: 16px;

  &__button {
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    background: $black;
    border: 1px solid $graySecondary;
    text-align: left;
    color: white;
    font-weight: 500;
    padding: 4px 8px;
    outline: none;
    height: 28px;

    &:hover {
      cursor: pointer;
      border: 2px solid $gray;
    }
  }

  &__list {
    position: absolute;
    width: 100%;
    left: 0;
    background: #202124;

    button {
      text-align: left;
      width: 100%;
      color: white;
      padding: 8px 8px;
      background: transparent;
      outline: none;
      border: none;
      border-bottom: 1px solid $gray;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.hide {
  display: none;
}

.debugger {
  &__actionBar {
    margin: 24px 0;
    display: flex;

    &--btnAction {
      background: #3c3939 !important;
    }

    button {
      font-size: 13px;
      width: 33%;
      border: 1px solid #3c3939;
      outline: none;
      background: transparent;
      color: gray;
      padding: 4px 0;
    }
  }

  &__imageWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 10px 0;
    border-top: 1px solid #3c3939;
    border-bottom: 1px solid #3c3939;

    div {
      position: relative;
    }
  }

  &__inputsWrapper {
    display: flex;
    gap: 10px;
    padding-left: 10px;

    input {
      border: 1px solid $gray;
      outline: none;
      background: transparent;
      color: white;
      font-size: 14px;
      width: 40px;
      height: 26px;
      border-radius: 4px;
    }
  }
}

.flex {
  display: flex;

  &__jusitfy {
    &--center {
      justify-content: center;
    }
  }

  &__align {
    &--center {
      align-items: center;
    }
  }
}


.objectContainer__objects {
  display: flex !important;
  flex-wrap: wrap !important;
  background-image: none !important;
  width: auto !important;
  height: auto !important;

  div {
    border: 1px solid #f54b4b;

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }
}