.styled-scrollbars {
  /* Foreground, Background */
  scrollbar-color: #999 #333;
}

.styled-scrollbars::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}

.styled-scrollbars::-webkit-scrollbar-thumb { /* Foreground */
  background: #999;
}

.styled-scrollbars::-webkit-scrollbar-track { /* Background */
  background: #333;
}

.select {
  position: relative;
  margin-bottom: 16px;

  &__button {
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    background: $pinkSecondary;
    text-align: left;
    transition: 0.2s;
    color: white;
    font-weight: 500;
    padding: 4px 8px;
    border: none;
    outline: none;
    margin-top: 10px;

    &:hover {
      cursor: pointer;
      letter-spacing: 0.1em;
    }
  }

  &__list {
    position: absolute;
    width: 100%;
    left: 0;
    background: #202124;

    button {
      text-align: left;
      width: 100%;
      color: white;
      padding: 8px 8px;
      background: transparent;
      outline: none;
      border: none;
      border-bottom: 1px solid $gray;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.hide {
  display: none;
}