// create spacing classes - padding, margin
@each $size in $spacing {
  // padding
  .p {
    &--#{$size} {
      padding: #{$size}px;
    }
  }
  .pt {
    &--#{$size} {
      padding-top: #{$size}px;
    }
  }
  .pb {
    &--#{$size} {
      padding-bottom: #{$size}px;
    }
  }
  .pl {
    &--#{$size} {
      padding-left: #{$size}px;
    }
  }
  .pr {
    &--#{size} {
      padding-right: #{$size}px;
    }
  }

  // margin
  .m {
    &--#{$size} {
      padding: #{$size}px;
    }
  }
  .mt {
    &--#{size} {
      margin-top: #{$size}px;
    }
  }
  .mb {
    &--#{size} {
      margin-bottom: #{$size}px;
    }
  }
  .ml {
    &--#{size} {
      margin-left: #{$size}px;
    }
  }
  .mr {
    &--#{$size} {
      margin-right: #{$size}px;
    }
  }
}
