.m {
  &--4 {
    margin: 4px;
  }

  &--8 {
    margin: 8px;
  }

  &--10 {
    margin: 10px;
  }

  &--12 {
    margin: 12px;
  }

  &--16 {
    margin: 16px;
  }

  &--18 {
    margin: 18px;
  }

  &--20 {
    margin: 20px;
  }
}

.mt {
  &--4 {
    margin-top: 4px;
  }

  &--8 {
    margin-top: 8px;
  }

  &--10 {
    margin-top: 10px;
  }

  &--12 {
    margin-top: 12px;
  }

  &--16 {
    margin-top: 16px;
  }

  &--18 {
    margin-top: 18px;
  }

  &--20 {
    margin-top: 20px;
  }
}

.mb {
  &--4 {
    margin-bottom: 4px;
  }

  &--8 {
    margin-bottom: 8px;
  }

  &--10 {
    margin-bottom: 10px;
  }

  &--12 {
    margin-bottom: 12px;
  }

  &--16 {
    margin-bottom: 16px;
  }

  &--18 {
    margin-bottom: 18px;
  }

  &--20 {
    margin-bottom: 20px;
  }
}

.mt {
  &--4 {
    margin-top: 4px;
  }

  &--8 {
    margin-top: 8px;
  }

  &--10 {
    margin-top: 10px;
  }

  &--12 {
    margin-top: 12px;
  }

  &--16 {
    margin-top: 16px;
  }

  &--18 {
    margin-top: 18px;
  }

  &--20 {
    margin-top: 20px;
  }
}


// padding
.p {
  &--4 {
    padding: 4px;
  }

  &--8 {
    padding: 8px;
  }

  &--10 {
    padding: 10px;
  }

  &--12 {
    padding: 12px;
  }

  &--16 {
    padding: 16px;
  }

  &--18 {
    padding: 18px;
  }

  &--20 {
    padding: 20px;
  }
}