.accordion {
  &__button {
    height: 45px;
    width: 100%;
    padding: 0 12px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #3c3939;
    position: relative;

    &:hover {
      cursor: pointer;

      p {
        color: $pink !important;
      }

      i {
        color: $white;
      }
    }

  }

  &__buttonText {
    color: $white;
  }

  &__buttonIcon {
    transition: 0.2s;
    position: absolute;
    right: 16px;
    color: $graySecondary;

    &--active {
      color: $gray;
      transform: rotate(180deg);
    }
  }

  &__list {
    padding-left: 12px;
    padding-bottom: 8px;
    padding-top: 8px;
  }

  &__listItem {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    letter-spacing: 0.05em;
    position: relative;
    border-bottom: 1px solid #2c2d2e;
    color: $gray;

    &:hover {
      color: $white;
    }
  }
}